.mapList {
    display: inline-block !important;
}

#map {
    display: inline-block !important;
    width: calc(100vw - 475px);
    height: 75vh;
  }

#list { /*list iframe*/
    width: 400px;
    height: 75vh;
    vertical-align: top;
}

#mobileButtons {
    display: none;
}