/* filters and search */
.forms {
    display: block;
}

.filters {
    position: absolute;
    left: 2vw;
    margin-top: 20px;
}

.mapList {
    display: block;
}

#map {
    width: 95vw;
    height: 75vh;
}

#mobileButtons {
    text-align: center;
    display: block;
}

#list {
    display: none;
    width: 95vw;
}

#mapButton {
    background-color: white;
}

